# 1. Fetch the ARN of the role created by your CloudFormation stack
- name: Get IAM Role ARN from CloudFormation
  amazon.aws.cloudformation_info:
    stack_name: "project-accumulator-iam-stack" # Must match the stack name in your iam role/playbook
  register: iam_stack

- name: Set Glue Role ARN fact
  set_fact:
    glue_role_arn: "{{ iam_stack.stack_resources | json_query(\"[?LogicalResourceId=='rRole'].PhysicalResourceId\") | first }}"

- name: Upload Glue script to S3
  amazon.aws.s3_object:
    bucket: "{{ s3_bucket }}"
    object: scripts/s3_csv_to_rds.py
    src: glue-scripts/s3_csv_to_rds.py
    mode: put

- name: Create Glue JDBC connection
  community.aws.glue_connection:
    name: "{{ glue_connection_name }}"
    # Fixed AZ casing to match GovCloud standard (us-gov-west-1a)
    availability_zone: "{{ aws_region }}a" 
    connection_properties:
      JDBC_CONNECTION_URL: "jdbc:postgresql://{{ rds.endpoint }}:5432/{{ db_secret.dbname }}"
      USERNAME: "{{ db_secret.username }}"
      PASSWORD: "{{ db_secret.password }}"
    subnet_id: "{{ gluerdssubnetgroup1.subnet.id }}"
    security_groups:
      - "{{ glue_sg.group_id }}"
    state: present

- name: Create Glue Job
  community.aws.glue_job:
    name: "{{ glue_job_name }}"
    # Use the ARN retrieved from the CloudFormation stack
    role: "{{ glue_role_arn }}"
    glue_version: "4.0"
    command_python_version: "3"
    worker_type: G.1X
    number_of_workers: 2
    default_arguments:
      "--job-bookmark-option": "job-bookmark-enable"
      "--TempDir": "s3://{{ s3_bucket }}/temp/"
      "--additional-python-modules": "openpyxl"
    command_script_location: "s3://{{ s3_bucket }}/scripts/s3_csv_to_rds.py"
    state: present
