- name: Upload Glue script to S3
  amazon.aws.s3_object:
    bucket: "{{ s3_bucket }}"
    object: scripts/s3_csv_to_rds.py
    src: glue-scripts/s3_csv_to_rds.py
    mode: put

- name: Create Glue JDBC connection
  community.aws.glue_connection:
    name: "{{ glue_connection_name }}"
    availability_zone: us-east-1a
    connection_properties:
      JDBC_CONNECTION_URL: "jdbc:postgresql://{{ rds.endpoint }}:5432/{{ db_name }}"
      USERNAME: "{{ db_user }}"
      PASSWORD: "{{ db_password }}"
    subnet_id: "{{ gluerdssubnetgroup1.subnet.id }}"
    security_groups:
      - "{{ glue_sg.group_id }}"
    state: present

- name: Create Glue Job
  community.aws.glue_job:
    name: "{{ glue_job_name }}"
    role: "{{ glue_role_name }}"
    glue_version: "4.0"
    command_python_version: "3"
    worker_type: G.1X
    number_of_workers: 2
    default_arguments:
      "--job-bookmark-option": "job-bookmark-enable"
      "--TempDir": "s3://{{ s3_bucket }}/temp/"
      "--additional-python-modules": "openpyxl"
    command_script_location: "s3://{{ s3_bucket }}/scripts/s3_csv_to_rds.py"
    state: present