- name: Create private subnet1
  amazon.aws.ec2_vpc_subnet:
    vpc_id: "{{ vpc_id }}"
    cidr: "{{ private_subnet_cidr_1 }}"
    region: "{{ region }}"
    az: "us-gov-west-1a"
    state: present
  register: gluerdssubnetgroup1

- name: Create private subnet2
  amazon.aws.ec2_vpc_subnet:
    vpc_id: "{{ vpc_id }}"
    cidr: "{{ private_subnet_cidr_2 }}"
    region: "{{ region }}"
    az: "us-gov-west-1b"
    state: present
  register: gluerdssubnetgroup2
