- name: Create VPC
  amazon.aws.ec2_vpc_net:
    name: "etl-vpc"
    cidr_block: "{{ vpc_cidr }}"
    region: "{{ region }}"
    state: present
  register: vpc
  
- name: Create Internet Gateway
  amazon.aws.ec2_vpc_igw:
    vpc_id: "{{ vpc.vpc.id }}"
    region: "{{ region }}"
    state: present
  register: igw
    
- name: Create Public Subnet
  amazon.aws.ec2_vpc_subnet:
    vpc_id: "{{ vpc.vpc.id }}"
    cidr: "{{ public_subnet_cidr }}"
    region: "{{ region }}"
    state: present
  register: publicsubnet

- name: Set up Public Route Table
  amazon.aws.ec2_vpc_route_table:
    vpc_id: "{{ vpc.vpc.id }}"
    region: "{{ region }}"
    state: present
    routes:
      - dest: 0.0.0.0/0
        gateway_id: "{{ igw.gateway_id }}"
    subnets:
      - "{{ publicsubnet.subnet.id }}"

- name: Create private subnet1
  amazon.aws.ec2_vpc_subnet:
    vpc_id: "{{ vpc.vpc.id }}"
    cidr: "{{ private_subnet_cidr_1 }}"
    region: "{{ region }}"
    az: "{{ az1 }}"
    state: present
  register: gluerdssubnetgroup1

- name: Create private subnet2
  amazon.aws.ec2_vpc_subnet:
    vpc_id: "{{ vpc.vpc.id }}"
    cidr: "{{ private_subnet_cidr_2 }}"
    region: "{{ region }}"
    az: "{{ az2 }}"
    state: present
  register: gluerdssubnetgroup2