name: Deploy CprLoad app

on:
  push:
    branches: [ "main" ]

env:
  AWS_REGION: us-gov-west-1
  IMAGE_NAME: cpeload-app

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t $IMAGE_NAME ./docker

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ${{ env.AWS_REGION }}
          role-to-assume: ${{ secrets.AWS_GOVCLOUD_ROLE_ARN }}

      - name: Login to ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init

      - name: Terraform Apply
        run: terraform apply

      - name: Get ECR URI from Terraform
        id: ecr
        run: echo "ECR_URI=$(terraform -chdir=terraform output -raw ecr_repo_uri)" >> $GITHUB_ENV

      - name: Tag image
        run: docker tag $IMAGE_NAME:latest $ECR_URI:latest

      - name: Push image
        run: docker push $ECR_URI:latest
