name: Build CpeLoad Image

on:
  push:
    branches: [ "main" ]

env:
  AWS_REGION: us-gov-west-1
  IMAGE_NAME: cpeload-app

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ${{ env.AWS_REGION }}
          role-to-assume: ${{ secrets.AWS_GOVCLOUD_ROLE_ARN }}

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init

      - name: Terraform Apply (create ECR only)
        run: terraform apply -auto-approve

      - name: Get ECR URI from Terraform
        id: ecr
        run: echo "ECR_URI=$(terraform output -raw ecr_repo_uri)" >> $GITHUB_ENV

      - name: Build Docker image
        run: docker build -t $IMAGE_NAME ./docker

      - name: Tag image
        run: docker tag $IMAGE_NAME:latest $ECR_URI:latest

      - name: Push image to ECR
        run: docker push $ECR_URI:latest
