name: Deploy CpeLoad Infrastructure

on:
  workflow_dispatch:

env:
  AWS_REGION: us-gov-west-1

jobs:
  deploy:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ${{ env.AWS_REGION }}
          role-to-assume: ${{ secrets.AWS_GOVCLOUD_ROLE_ARN }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init
        #working-directory: .

      - name: Terraform Apply (deploy ECS)
        run: terraform apply -auto-approve
        #working-directory: .
